/* ::::: http://www.17sucai.com/preview/270065/2015-03-04/vote_-_%E6%8A%95%E7%A5%A8/vote.css ::::: */

* { padding: 0px; margin: 0px; border: 0px none; }
#outter { width: 100%; height: 100%; text-align: center; font-size: 12px; }
#content { padding: 10px; }
#vote { margin: 0px auto; width: 400px; background-color: skyblue; border: thin dotted grey; padding: 10px 10px 50px; }
#vote ul { list-style: outside none none; }
#vote li { display: block; height: 30px; margin: 5px 0px; }
.votetitle { line-height: 28px; }
.votetitleleft { display: block; float: left; }
.votetitleright { display: block; float: right; }
.votechoice, .addchoice { clear: both; text-align: left; }
.votechoice input[type="text"] { height: 25px; width: 300px; border: thin solid rgb(208, 221, 231); float: left; }
.votedel:hover { background-image: url('../images/votedel2.gif'); }
.votedel { display: block; width: 23px; height: 23px; background-image: url('../images/votedel.gif'); background-repeat: no-repeat; float: left; margin-left: 10px; line-height: 25px; }
#addchoice, #submitchoice { margin-top: 10px; display: block; float: left; }
#complete, #viewresult { margin-top: 10px; display: block; float: right; margin-right: 46px; }
#voteinfo { text-align: left; padding: 10px 0px; line-height: 16px; }
#voteinfo textarea { margin: 0px; width: 349px; height: 126px; }
#infotitle { height: 30px; line-height: 30px; }
